<div class="container" style=" max-width: 800px; background-color: white;">
  <h1>Lista Completa de Professores</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Matrícula</th>
      <th scope="col">Formação</th>
      <th scope="col">Editar</th>
      <th scope="col">Excluir</th>
    </tr>
    </thead>
    <tbody>
      <% @professors.each do |professor| %>
        <tr>
          <td><h5><%= professor.nome %></h5></td>
          <td><h5><%= professor.email %></h5></td>
          <td><h5><%= professor.matricula %></h5></td>
          <td><h5><%= professor.formacao %></h5></td>
          <td><%= link_to 'Edit', '' , :class => "btn btn-warning" , :style => "color:white", data: { confirm: 'Função não implementada!'} %> </td>
          <td><%= link_to 'Destroy', '' , :class => "btn btn-danger" , :style => "color:white", data: { confirm: 'Função não implementada!' }%> </td>
        </tr>
      <% end %>

    </tbody>
  </table>
  <%= link_to 'Back', '/secretario' , :class => "btn btn-primary" , :style => "color:white"%>
</div>