<%= form_with(model: turma, local: true, html: { class: "navbar-form navbar-right form-inline" }) do |form| %>
  <% if turma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(turma.errors.count, "error") %> prohibited this turma from being saved:</h2>

      <ul>
        <% turma.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.text_field :nome, :placeholder => "Nome", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.number_field :nivel, :placeholder => "Nível", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_area :horario, :placeholder => "Horários", class: "form-control" %>
  </div>
  <% if professor_signed_in? %>
    <div class="form-group">
      <br />
      <%= form.label :professor %>
    <input class="form-control" type=number placeholder= <%= current_professor.nome%> readonly>
      <%= hidden_field_tag "turma[professor_id]", current_professor.id %>
      <br />
    </div>
  <% else %>
    <div class="form-group">
      <%= form.label :professor %><br />
      <%= collection_select(:turma, :professor_id, Professor.all, :id, :nome, :class => 'form-control') %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
