<p id="notice"><%= notice %></p>
<select class="selectpicker">
  <% @turmas.each do |turma| %>
    <option value="<%= turma.id %>"><%= turma.nome %></option>
  <% end %>
</select>

  <% if professor_signed_in? %>
    <h1>Minhas Turmas</h1>
  <% elsif secretario_signed_in? %>
    <h1>Todas as Turmas</h1>
  <% end %>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Nível</th>
      <th scope="col">Horário(s)</th>
      <th scope="col">Professor</th>
      <th scope="col">Mostrar</th>
      <th scope="col">Editar</th>
      <th scope="col">Excluir</th>
    </tr>
    </thead>
    <tbody>
    <% if professor_signed_in? %>
      <% @minhas_turmas = @turmas.where(professor_id: current_professor.id) %>
      <% @minhas_turmas.each do |turma| %>
        <tr>
          <td><h5><%= turma.nome %></h5></td>
          <td><h5><%= turma.nivel %></h5></td>
          <td><h5><%= turma.horario %></h5></td>
          <td><h5><%= turma.professor.nome %></h5></td>
          <td><%= link_to 'Show', turma , :class => "btn btn-success" , :style => "color:white"%></td>
          <td><%= link_to 'Edit', edit_turma_path(turma) , :class => "btn btn-warning" , :style => "color:white"%></td>
          <td><%= link_to 'Destroy', turma, :class => "btn btn-danger" , :style => "color:white", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% elsif secretario_signed_in? %>
      <% @turmas.each do |turma| %>
        <tr>
          <td><h5><%= turma.nome %></h5></td>
          <td><h5><%= turma.nivel %></h5></td>
          <td><h5><%= turma.horario %></h5></td>
          <td><h5><%= turma.professor.nome %></h5></td>
          <td><%= link_to 'Show', turma , :class => "btn btn-success" , :style => "color:white"%></td>
          <td><%= link_to 'Edit', edit_turma_path(turma) , :class => "btn btn-warning" , :style => "color:white"%></td>
          <td><%= link_to 'Destroy', turma, :class => "btn btn-danger" , :style => "color:white", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>

    </tbody>
  </table>
  <%= link_to 'Nova Turma', new_turma_path , :class => "btn btn-success", :style => "color:white"%>
</div>