<div id="container-login" class="container" style=" max-width: 400px; background-color: white;">
<h1>Editing Turma</h1>

<%= render 'form', turma: @turma %>


<%= link_to 'Show', @turma , :class => "btn btn-success" , :style => "color:white"%> |
<%= link_to 'Back', turmas_path , :class => "btn btn-primary" , :style => "color:white"%>
</div>