<div id="container-login" class="container" style=" max-width: 400px; background-color: white;">
<h1>New Turma</h1>

<%= render 'form', turma: @turma %>

<%= link_to 'Back', turmas_path %>
</div>
