
<div class="card" style="width: 500px;">
  <div class="card-header">
    Informações da Turma
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Nome: <%= @turma.nome %></li>
    <li class="list-group-item">Nível: <%= @turma.nivel %></li>
    <li class="list-group-item">Horários: <%= @turma.horario %></li>
    <li class="list-group-item">Professor: <%= @turma.professor.nome %></li>
  </ul>
  <%= link_to 'View/Add Alunos', '' , :class => "btn btn-success" , :style => "color:white", data: { confirm: 'Função não implementada!' }%>
  <%= link_to 'Edit', edit_turma_path(@turma), :class => "btn btn-warning" , :style => "color:white"%>
  <%= link_to 'Back', turmas_path , :class => "btn btn-primary" , :style => "color:white"%>

</div>