<div id="container-login" class="container" style=" max-width: 400px; background-color: white;">
  <h2>Sign up as Professor</h2>

  <%= form_for(:professor, :url => registration_path(:professor), html: { class: "navbar-form navbar-right form-inline" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.text_field :nome, :placeholder => "Nome", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.number_field :matricula, :placeholder => "Matrícula", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.text_field :formacao, :placeholder => "Formação", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.email_field :email, :placeholder => "Email", class: "form-control", autofocus: true, autocomplete: "email"  %>
    </div>
    <div class="form-group">

      <%= f.password_field :password, :placeholder => "Password", class: "form-control", autocomplete: "new-password"   %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", class: "form-control", autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit 'Sign Up', class: "btn btn-success" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>