<div id="container-login" class="container" style=" max-width: 400px; background-color: white;">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.text_field :nome, :placeholder => "Nome", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.number_field :matricula, :placeholder => "Matrícula", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.email_field :email, :placeholder => "Email", class: "form-control", autofocus: true, autocomplete: "email"  %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">

    <%= f.password_field :password, :placeholder => "Password", class: "form-control", autocomplete: "new-password"   %><i>(leave blank if you don't want to change it)</i><br />
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", class: "form-control", autocomplete: "new-password" %>
  </div>

  <div class="field">

    <%= f.password_field :current_password, :placeholder => "Current Password", class: "form-control", autocomplete: "current-password"   %>
    <i>(we need your current password to confirm your changes)</i><br />
  </div>

  <div class="actions">
    <%= f.submit 'Update', class: "btn btn-success" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class: "btn btn-danger"%></p>

<%= link_to "Back", :back %>
</div>