
  <div class="card" style="width: 500px;">
    <div class="card-header">
      Criação
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= link_to 'Criar Professor','', :class => "btn btn-success" , :style => "color:white", data: { confirm: 'Função não implementada!'} %></li>
      <li class="list-group-item"><%= link_to 'Criar Aluno', '' , :class => "btn btn-success" , :style => "color:white", data: { confirm: 'Função não implementada!'} %></li>
      <li class="list-group-item"><%= link_to 'Criar Secretário', '' , :class => "btn btn-success" , :style => "color:white", data: { confirm: 'Função não implementada!'} %></li>
    </ul>
  </div>
  <div class="card" style="width: 500px;">
    <div class="card-header">
      Gerenciamento
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= link_to 'Gerenciar Professores', "professors" , :class => "btn btn-primary" , :style => "color:white"%></li>
      <li class="list-group-item"><%= link_to 'Gerenciar Alunos', "alunos" , :class => "btn btn-primary" , :style => "color:white"%></li>
      <li class="list-group-item"><%= link_to 'Gerenciar Secretários', "secretarios" , :class => "btn btn-primary" , :style => "color:white"%></li>
    </ul>
  </div>

