
<!DOCTYPE html>
<html>
  <head>
    <title>UNB Idiomas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>

  <div class="text-center">
    <div class="btn-group-vertical">
      <%= link_to "Página do Aluno", "aluno", :class => "button btn btn-primary btn-xlarge", :style => "color:white"%>
      <%= link_to "Página do Professor", "professor", :class => "button btn btn-primary btn-xlarge", :style => "color:white"%>
    </div>
  </div>

  </body>
</html>
