<div id="container-login" class="container" style=" max-width: 250px; background-color: white;">
  <h2>Log in Professor</h2>
  <%= form_for(:professor, :url => session_path(:professor), html: { class: "navbar-form navbar-right form-inline" }) do |f| %>

    <div class="form-group">
      <%= f.text_field :email, :placeholder => "Email", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, :placeholder => "Password", class: "form-control"  %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="checkbox">
        <%= f.check_box :remember_me %><%= f.label :remember_me %>
      </div>
    <% end %>

    <%= f.submit 'Login', class: "btn btn-success" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>